output/
dist/
docs/
coverage/

CHANGELOG.md
helm/

# FROM .gitignore. Copy them here until https://github.com/prettier/prettier/issues/8048 is done

.DS_Store
node_modules
dist
output

# Log files
npm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea
.vscode
.history
.ionide
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.yarn
yarn-error.log

docs
build

junit.xml
coverage/
web-types.json

packages/api-documenter/lib

packages/node-utils/bin
packages/vue-components/global.d.ts
packages/vue-components/src/index.ts
packages/profile-loader/profiles

pnpm-lock.yaml
.pnpm-store
